#bota{
    width: 50%;
    margin: 10px;    
    border-style: solid;
    margin-left: 25%;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(98, 175, 238);
    
} 
h1{
    color: rgb(40, 30, 77);
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#mih{
    width: 27%;
    margin-left: 25%;
    padding-right: 10%;
    padding-left: 10%;
    line-height: 1cm;
    background-color: rgb(98, 175, 238);
}
.fondo{
    background-image: url("fondo.png");
    background-size: 20%;
    background-repeat: repeat;
    background-color: transparent;
    background-position: top;
    
}
form{
    width: 60%;
    margin-left: 30%;
    line-height: 1cm;
    background-color: rgb(98, 175, 238);
}
#ft{
    height: 70%;
    width: 98%;
    margin-left: 2px;
    margin-top: 15px;
    border-width: 5px;
    
    border-style: groove;
    
    clear: both;
    background: #eb94d0;
    /* Crear degradados */
    
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
      background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
      background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
      background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
      background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
}
#esdiv{
    width: 40%;
    border-color: black;
    border-style: solid;
    margin-left: 30%;
    padding-left: 4%;
    margin-bottom: 5%;
    border-radius: 10px 10px 10px 10px;
    background-color: aqua;

} 

#mdv{
    padding-top: 5%;
    padding-left: 10%;
}

#sec1{
    width: 50%;
    float: left;
}
#sec2{
    width: 50%;
    float: left;
}
#sec3{
    margin-top: 4cm;
    margin-left: 30%;
    height: 70%;
    clear: both;
}
.mlb{
    width : 150px;
    margin: 0;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
}

.btn {
    background: #eb94d0;
    /* Crear degradados */
    
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
      background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
      background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
      background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
      background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
    /* Dar bordes curvados a btn */
    -webkit-border-radius: 18;
      -moz-border-radius: 18;
      border-radius: 18px;
    text-shadow: 3px 2px 1px #9daef5;
      -webkit-box-shadow: 6px 5px 24px #666666;
      -moz-box-shadow: 6px 5px 24px #666666;
      box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
      color: #fafafa;
      font-size: 15px;
      padding: 10px;
      text-decoration: none;
}

#cb{
   border-color: #2079b0;
}

#ifm{
    width: 40%;
}

#tmn{
    width: 250px;
    height: 200px;
}
.bn{
    margin-left: 5%;

}
    
